@import "../../assets/scss/lib/variables";
@import "../../assets/scss/lib/mixins";

.layout {
  height: 100vh;
  @include flex(center, center);
}

.dashboard {
  height: 100vh;
  @include flex(flex-start, flex-start);
}

.content {
  flex: 1;
  padding: 40px 60px;
}