@import "../../assets/scss/lib/variables";
@import "../../assets/scss/lib/mixins";

.title {
  @include text(36px, 48px, 700, $dark-gray);
}

.header {
  @include flex();
  margin-bottom: 40px;
}

.link {
  padding: 14px 18px;
  background: $blue;
  border: 1px solid $blue;
  border-radius: 8px;
  display: flex;
  gap: 12px;
  transition: 0.2s ease;

  svg {
    font-size: 20px;
    color: $white;
  }

  p {
    @include text(18px, 18px, 500, $white);
  }

  &:hover {
    cursor: pointer;
    background: $white;
    
    svg {
      color: $blue
    }

    p {
      color: $blue
    }
  }
}