@import "../../assets/scss/lib/variables";
@import "../../assets/scss/lib/mixins";

.title {
  @include text(36px, 48px, 700, $dark-gray);
}

.header {
  @include flex();
  margin-bottom: 40px;
}

.link {
  padding: 12px 16px;
  background: $blue;
  display: flex;
  gap: 12px;
  transition: 0.2s ease;

  svg {
    font-size: 20px;
    color: $white;
  }

  p {
    @include text(18px, 18px, 500, $white);
  }

  &:hover {
    cursor: pointer;
    background: $blue-hover;
  }
}