@import "../../assets/scss/lib/variables";
@import "../../assets/scss/lib/mixins";

.container {
  width: 100%;
  height: 100%;
  @include flex(center, center);
}

.wrapper {
  width: 480px;
  padding: 28px 36px;
  background: $bg;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  @include text(28px, 36px, 700, $dark-gray);
  margin-bottom: 20px;
  text-align: center;
}

.error {
  @include text(14px, 14px, 600, $red);
}