@import "../../assets/scss/lib/variables";
@import "../../assets/scss/lib/mixins";

.page {
  height: 100%;
}

.grid {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 48px 40px;
}

.wrapper {
  height: 80%;
}

.feedbackBox {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-top: 0.5rem;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
